Source: libqtxdg
Priority: optional
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@gmail.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 libmagic-dev,
 qtbase5-dev,
 qttools5-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/lxde/libqtxdg
#Vcs-Git: git://anonscm.debian.org/collab-maint/libqtxdg.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/libqtxdg.git;a=summary

Package: libqt5xdg-dev
Section: libdevel
Architecture: any
Depends:
 libqt5xdg1 (= ${binary:Version}),
 ${misc:Depends}
Conflicts:
 libqt5xdg0-dev
Description: Development files for libqtxdg
 This library implements functions of the XDG Specifications in Qt.  It is part
 of LXQt.
 .
 This package contains development files for libqtxdg.

Package: libqt5xdg1
Provides: libqt5xdg
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Conflicts:
 libqtxdg0
Description: Implementation of the XDG Specifications for Qt, libs
 This library implements functions of the XDG Specifications in Qt.  It is part
 of LXQt.

Package: libqt5xdg-dbg
Section: debug
Priority: extra
Multi-Arch: same
Architecture: any
Depends:
 libqt5xdg1 (= ${binary:Version}),
 ${misc:Depends}
Description: Debug symbols for libqtxdg
 This library implements functions of the XDG Specifications in Qt.  It is part
 of LXQt.
 .
 This package contains debug symbols for libqtxdg.
